<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juntcompany.godandgod">

    <application
        android:name=".GodAndGod"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity android:name=".Main.Search.SearchActivity" />
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Login.LoginHelper.HelperActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity android:name=".Login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.SignIn.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainToolbar.ChatGroup.ChatGroupCreate.ChatGroupCreateActivity" />
        <activity android:name=".MainToolbar.ChatGroup.ChatGroupChattingRoom.ChatGroupChattingRoomActivity" />
        <activity android:name=".Main.MyStory.MyStoryActivity" />
        <activity
            android:name=".Dialog.EqualDialogActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Dialog.NoEqualCodeActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Dialog.CommentStatueDialog"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Dialog.MyStoryContentCancelDialog" />
        <activity android:name=".Dialog.FriendRealDeleteDialog"
            android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:name=".Dialog.NoFriendResultDialog"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Dialog.ChatAllContentDeleteDialog"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".Dialog.MyProfileUpdateDialog"
            android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:name=".Dialog.FriendDeleteDialog"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Dialog.ChatDeleteDialog"
            android:theme="@android:style/Theme.Dialog"></activity>
    </application>

</manifest>